<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="{{ url('test') }}" class="simple-text logo-mini">
             <div class="logo-image-small">
              <img src="{{ asset('build/images/K81NHwiA_200x200.jpg') }}">

            </div>

        </a>
        Apotheose

    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="javascript:;">
                    <i class="nc-icon nc-bank"></i>
                    <p>Mes Promos</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="nc-icon nc-diamond"></i>
                    <p>Suivre une promo</p>
                </a>
            </li>
        </ul>
    </div>
</div>